﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/dist/app.css">
    <title>Risk Management</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/dist/app.js"></script>
</body>
</html>
